{% extends "tasks/base.html" %}

{% block body %}
<div class="container my-5">
  <h1 class="mb-4">{{ task.name }}</h1>
  
  <div class="task-date text-muted mb-3">{{ task.created_at|date:"d M Y" }}</div>
  
  <p class="lead">{{ task.description }}</p>

  <div class="d-flex justify-content-between mb-4">
    <a class="btn btn-primary" role="button" href="{% url 'tasks:task-toggle' task.slug %}">Cambiar estado de la tarea</a>
    <a class="btn btn-danger" role="button" href="{% url 'tasks:task-delete' task.slug %}">Eliminar tarea</a>
  </div>
  
  <p>
    <a class="btn btn-secondary" role="button" href="{% url 'tasks:task-list' %}">Volver a inicio</a>
  </p>
</div>
{% endblock body %}