{% extends "tasks/base.html" %}
{% block body %}

<div class="container my-5">
  <a class="btn btn-secondary mb-4" role="button" href="{% url 'tasks:task-list' %}">← Volver a tareas</a>
  
  <div class="card p-4">
    <h2 class="card-title text-center">Editar Tarea</h2>
    <form method="post" class="formtask">
      {% csrf_token %}
      
      <div class="form-group">
        {{form}}
      </div>
      
      <div class="d-flex justify-content-center">
        <input type="submit" class="btn btn-primary mt-3" value="Guardar cambios">
      </div>
      
    </form>
  </div>
</div>

{% endblock body %}